# DI 6.1 - EMPRES Global Animal Disease Surveillance

## This Script Contains the following
#### 1. Importing Libraries and Data
#### 2. Data Exploration and Cleaning

### 1. Importing Libraries and Data

In [4]:
# Importing Libraries

import pandas as pd
import numpy as np
import os

In [5]:
# Importing Data

GADS = pd.read_csv(r'D:\Career Foundry\2) Data Immersion\6) Advanced Analytics & Dashboard Design\DI 6 - Jupyter Folder\EMPRES Global Animal Disease Surveillance Analysis\02 Data\Original Data\EMPRES GADS.csv', index_col = False)

In [6]:
# Setting up Path

path = r'D:\Career Foundry\2) Data Immersion\6) Advanced Analytics & Dashboard Design\DI 6 - Jupyter Folder\EMPRES Global Animal Disease Surveillance Analysis'

In [7]:
path

'D:\\Career Foundry\\2) Data Immersion\\6) Advanced Analytics & Dashboard Design\\DI 6 - Jupyter Folder\\EMPRES Global Animal Disease Surveillance Analysis'

### 2. Data Exploration and Cleaning

In [9]:
GADS.head()

,Id,latitude,longitude,region,country,admin1,localityName,localityQuality,observationDate,reportingDate,...,speciesDescription,sumAtRisk,sumCases,sumDeaths,sumDestroyed,sumSlaughtered,humansGenderDesc,humansAge,humansAffected,humansDeaths
0,230399,-27.900000,30.800000,Africa,South Africa,KwaZulu-Natal,HPAI_H5N8_2017_019,Exact,17/08/2017,22/08/2017,...,"domestic, unspecified bird",248000.0,12.0,12.0,50000.0,0.0,NaN,0.0,NaN,NaN
1,230381,54.837037,73.354155,Europe,Russian Federation,Omskaya Oblast,Novaya Stanica,Exact,16/08/2017,18/08/2017,...,"domestic, swine",122.0,6.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
2,230333,-21.077740,30.211620,Africa,Zimbabwe,Masvingo,Mwambe,Exact,16/08/2017,16/08/2017,...,"domestic, cattle",1283.0,112.0,0.0,NaN,7.0,NaN,NaN,NaN,NaN
3,230396,-26.000000,28.300000,Africa,South Africa,Gauteng,HPAI_H5N8_2017_020,Exact,15/08/2017,22/08/2017,...,"wild, unspecified bird",NaN,1.0,1.0,0.0,0.0,NaN,0.0,NaN,NaN
4,230371,49.237900,17.700200,Europe,Czech Republic,Jihomoravsky,Hvozdná,Exact,15/08/2017,17/08/2017,...,"wild, wild boar",NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Allowing for full few of all columns

pd.set_option('display.max_columns', 23)

In [11]:
GADS.head()

,Id,latitude,longitude,region,country,admin1,localityName,localityQuality,observationDate,reportingDate,status,disease,serotypes,speciesDescription,sumAtRisk,sumCases,sumDeaths,sumDestroyed,sumSlaughtered,humansGenderDesc,humansAge,humansAffected,humansDeaths
0,230399,-27.900000,30.800000,Africa,South Africa,KwaZulu-Natal,HPAI_H5N8_2017_019,Exact,17/08/2017,22/08/2017,Confirmed,Influenza - Avian,H5N8 HPAI,"domestic, unspecified bird",248000.0,12.0,12.0,50000.0,0.0,NaN,0.0,NaN,NaN
1,230381,54.837037,73.354155,Europe,Russian Federation,Omskaya Oblast,Novaya Stanica,Exact,16/08/2017,18/08/2017,Confirmed,African swine fever,NaN,"domestic, swine",122.0,6.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
2,230333,-21.077740,30.211620,Africa,Zimbabwe,Masvingo,Mwambe,Exact,16/08/2017,16/08/2017,Confirmed,Foot and mouth disease,NaN,"domestic, cattle",1283.0,112.0,0.0,NaN,7.0,NaN,NaN,NaN,NaN
3,230396,-26.000000,28.300000,Africa,South Africa,Gauteng,HPAI_H5N8_2017_020,Exact,15/08/2017,22/08/2017,Confirmed,Influenza - Avian,H5N8 HPAI,"wild, unspecified bird",NaN,1.0,1.0,0.0,0.0,NaN,0.0,NaN,NaN
4,230371,49.237900,17.700200,Europe,Czech Republic,Jihomoravsky,Hvozdná,Exact,15/08/2017,17/08/2017,Confirmed,African swine fever,NaN,"wild, wild boar",NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
GADS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17008 entries, 0 to 17007
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  17008 non-null  int64
 1   latitude            17008 non-null  float64
 2   longitude           17008 non-null  float64
 3   region              17008 non-null  object
 4   country             17008 non-null  object
 5   admin1              17008 non-null  object
 6   localityName        17008 non-null  object
 7   localityQuality     17008 non-null  object
 8   observationDate     16506 non-null  object
 9   reportingDate       17008 non-null  object
 10  status              17008 non-null  object
 11  disease             17008 non-null  object
 12  serotypes           10067 non-null  object
 13  speciesDescription  15360 non-null  object
 14  sumAtRisk           9757 non-null   float64
 15  sumCases            14535 non-null  float64
 16  sumDeaths           14168 non-null  float64
 17  sumDestroyed        13005 non-null  float64
 18  sumSlaughtered      12235 non-null  float64
 19  humansGenderDesc    360 non-null    object
 20  humansAge           1068 non-null   float64
 21  humansAffected      1417 non-null   float64
 22  humansDeaths        451 non-null    float64
dtypes: float64(10), int64(1), object(12)
memory usage: 3.0+ MB

In [13]:
GADS.dtypes

Id                      int64
latitude              float64
longitude             float64
region                 object
country                object
admin1                 object
localityName           object
localityQuality        object
observationDate        object
reportingDate          object
status                 object
disease                object
serotypes              object
speciesDescription     object
sumAtRisk             float64
sumCases              float64
sumDeaths             float64
sumDestroyed          float64
sumSlaughtered        float64
humansGenderDesc       object
humansAge             float64
humansAffected        float64
humansDeaths          float64
dtype: object

In [14]:
GADS.describe()

,Id,latitude,longitude,sumAtRisk,sumCases,sumDeaths,sumDestroyed,sumSlaughtered,humansAge,humansAffected,humansDeaths
count,17008.000000,17008.000000,17008.000000,9.757000e+03,14535.000000,14168.000000,13005.000000,12235.000000,1068.000000,1417.000000,451.000000
mean,218823.465075,39.168443,37.774981,7.500692e+03,328.183007,199.190147,3765.857978,100.211443,17.701311,1.017643,0.889135
std,7048.338831,16.817821,41.034310,4.427669e+04,5821.929892,4109.453986,28355.192298,4341.287763,26.932867,0.620142,0.321306
min,206270.000000,-36.856210,-146.490000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,212070.750000,32.090000,11.950000,1.100000e+01,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
50%,219591.500000,43.821579,24.511700,9.000000e+01,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000
75%,224717.250000,48.102805,43.424390,7.160000e+02,5.000000,2.000000,5.000000,0.000000,41.000000,1.000000,1.000000
max,230399.000000,68.392000,144.847374,2.000000e+06,460000.000000,439799.000000,913590.000000,339006.000000,94.000000,24.000000,2.000000

In [15]:
GADS.shape

(17008, 23)

#### Renaming Columns

In [17]:
# Renaming several columns

GADS.rename(columns = {'Id':'ID'}, inplace=True)
GADS.rename(columns = {'latitude':'Latitude'}, inplace=True)
GADS.rename(columns = {'longitude':'Longitude'}, inplace=True)
GADS.rename(columns = {'region':'Region'}, inplace=True)
GADS.rename(columns = {'country':'Country'}, inplace=True)
GADS.rename(columns = {'admin1':'City/Providence'}, inplace=True)
GADS.rename(columns = {'localityName':'Locality'}, inplace=True)
GADS.rename(columns = {'localityQuality':'LocalityQuality'}, inplace=True)
GADS.rename(columns = {'observationDate':'Observe Date'}, inplace=True)
GADS.rename(columns = {'reportingDate':'Report Date'}, inplace=True)
GADS.rename(columns = {'status':'Status'}, inplace=True)
GADS.rename(columns = {'disease':'Disease'}, inplace=True)
GADS.rename(columns = {'serotypes':'Serotypes'}, inplace=True)
GADS.rename(columns = {'speciesDescription':'Sp. Description'}, inplace=True)
GADS.rename(columns = {'sumAtRisk':'Sum Sp.AtRisk'}, inplace=True)
GADS.rename(columns = {'sumCases':'Sum Sp.Cases'}, inplace=True)
GADS.rename(columns = {'sumDeaths':'Sum Sp.Deaths'}, inplace=True)
GADS.rename(columns = {'sumDestroyed':'Sum Sp.Destroyed'}, inplace=True)
GADS.rename(columns = {'sumSlaughtered':'Sum Sp.Slaughtered'}, inplace=True)
GADS.rename(columns = {'humansGenderDesc':'Humans Gender'}, inplace=True)
GADS.rename(columns = {'humansAge':'Humans Age'}, inplace=True)
GADS.rename(columns = {'humansAffected':'Humans Affected'}, inplace=True)
GADS.rename(columns = {'humansDeaths':'Humans Deaths'}, inplace=True)

In [18]:
GADS.head()

,ID,Latitude,Longitude,Region,Country,City/Providence,Locality,LocalityQuality,Observe Date,Report Date,Status,Disease,Serotypes,Sp. Description,Sum Sp.AtRisk,Sum Sp.Cases,Sum Sp.Deaths,Sum Sp.Destroyed,Sum Sp.Slaughtered,Humans Gender,Humans Age,Humans Affected,Humans Deaths
0,230399,-27.900000,30.800000,Africa,South Africa,KwaZulu-Natal,HPAI_H5N8_2017_019,Exact,17/08/2017,22/08/2017,Confirmed,Influenza - Avian,H5N8 HPAI,"domestic, unspecified bird",248000.0,12.0,12.0,50000.0,0.0,NaN,0.0,NaN,NaN
1,230381,54.837037,73.354155,Europe,Russian Federation,Omskaya Oblast,Novaya Stanica,Exact,16/08/2017,18/08/2017,Confirmed,African swine fever,NaN,"domestic, swine",122.0,6.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
2,230333,-21.077740,30.211620,Africa,Zimbabwe,Masvingo,Mwambe,Exact,16/08/2017,16/08/2017,Confirmed,Foot and mouth disease,NaN,"domestic, cattle",1283.0,112.0,0.0,NaN,7.0,NaN,NaN,NaN,NaN
3,230396,-26.000000,28.300000,Africa,South Africa,Gauteng,HPAI_H5N8_2017_020,Exact,15/08/2017,22/08/2017,Confirmed,Influenza - Avian,H5N8 HPAI,"wild, unspecified bird",NaN,1.0,1.0,0.0,0.0,NaN,0.0,NaN,NaN
4,230371,49.237900,17.700200,Europe,Czech Republic,Jihomoravsky,Hvozdná,Exact,15/08/2017,17/08/2017,Confirmed,African swine fever,NaN,"wild, wild boar",NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN

#### Changing Variable Data Types

In [20]:
GADS.describe()

,ID,Latitude,Longitude,Sum Sp.AtRisk,Sum Sp.Cases,Sum Sp.Deaths,Sum Sp.Destroyed,Sum Sp.Slaughtered,Humans Age,Humans Affected,Humans Deaths
count,17008.000000,17008.000000,17008.000000,9.757000e+03,14535.000000,14168.000000,13005.000000,12235.000000,1068.000000,1417.000000,451.000000
mean,218823.465075,39.168443,37.774981,7.500692e+03,328.183007,199.190147,3765.857978,100.211443,17.701311,1.017643,0.889135
std,7048.338831,16.817821,41.034310,4.427669e+04,5821.929892,4109.453986,28355.192298,4341.287763,26.932867,0.620142,0.321306
min,206270.000000,-36.856210,-146.490000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,212070.750000,32.090000,11.950000,1.100000e+01,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
50%,219591.500000,43.821579,24.511700,9.000000e+01,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000
75%,224717.250000,48.102805,43.424390,7.160000e+02,5.000000,2.000000,5.000000,0.000000,41.000000,1.000000,1.000000
max,230399.000000,68.392000,144.847374,2.000000e+06,460000.000000,439799.000000,913590.000000,339006.000000,94.000000,24.000000,2.000000

In [21]:
# No variables need to be changed

#### Mix Type Data

In [23]:
# Advance Python Syntax/Function to Search Mixed-Type columns

for col in GADS.columns.tolist():
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (GADS[weird]) > 0:
    print (col)

Observe Date
Serotypes
Sp. Description
Humans Gender

C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\219158784.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\219158784.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\219158784.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\219158784.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\219158784.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\219158784.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\219158784.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\219158784.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\219158784.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\219158784.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\219158784.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\219158784.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\219158784.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\219158784.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\219158784.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\219158784.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\219158784.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\219158784.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\219158784.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\219158784.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\219158784.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\219158784.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\219158784.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)

In [24]:
# Addressing Mixed Data

GADS['Observe Date'] = GADS['Observe Date'].astype('str')

In [25]:
GADS['Serotypes'] = GADS['Serotypes'].astype('str')

In [26]:
GADS['Sp. Description'] = GADS['Sp. Description'].astype('str')

In [27]:
GADS['Humans Gender'] = GADS['Humans Gender'].astype('str')

In [28]:
# Double checking mix type data was corrected

for col in GADS.columns.tolist():
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (GADS[weird]) > 0:
    print (col)

C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\3540701407.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\3540701407.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\3540701407.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\3540701407.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\3540701407.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\3540701407.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\3540701407.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\3540701407.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\3540701407.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\3540701407.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\3540701407.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\3540701407.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\3540701407.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\3540701407.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\3540701407.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\3540701407.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\3540701407.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\3540701407.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\3540701407.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\3540701407.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\3540701407.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\3540701407.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\jmesi\AppData\Local\Temp\ipykernel_17012\3540701407.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (GADS[[col]].applymap(type) != GADS[[col]].iloc[0].apply(type)).any(axis = 1)

In [29]:
# Mixed type data was corrected

#### Missing Data

In [31]:
# Finding Missing values in the Data set

GADS.isnull().sum()

ID                        0
Latitude                  0
Longitude                 0
Region                    0
Country                   0
City/Providence           0
Locality                  0
LocalityQuality           0
Observe Date              0
Report Date               0
Status                    0
Disease                   0
Serotypes                 0
Sp. Description           0
Sum Sp.AtRisk          7251
Sum Sp.Cases           2473
Sum Sp.Deaths          2840
Sum Sp.Destroyed       4003
Sum Sp.Slaughtered     4773
Humans Gender             0
Humans Age            15940
Humans Affected       15591
Humans Deaths         16557
dtype: int64

In [32]:
# No missing values changed. Although they are all numerical values, it could cause issue to impute median/mean values in their
# place

In [33]:
GADS_nan = GADS[GADS[['Sum Sp.AtRisk', 'Sum Sp.Cases', 'Sum Sp.Deaths', 'Sum Sp.Destroyed', 'Sum Sp.Slaughtered']].isnull() == True]

In [34]:
GADS_nan

,ID,Latitude,Longitude,Region,Country,City/Providence,Locality,LocalityQuality,Observe Date,Report Date,Status,Disease,Serotypes,Sp. Description,Sum Sp.AtRisk,Sum Sp.Cases,Sum Sp.Deaths,Sum Sp.Destroyed,Sum Sp.Slaughtered,Humans Gender,Humans Age,Humans Affected,Humans Deaths
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
GADS[['Sum Sp.AtRisk', 'Sum Sp.Cases', 'Sum Sp.Deaths', 'Sum Sp.Destroyed', 'Sum Sp.Slaughtered']].fillna(0)

,Sum Sp.AtRisk,Sum Sp.Cases,Sum Sp.Deaths,Sum Sp.Destroyed,Sum Sp.Slaughtered
0,248000.0,12.0,12.0,50000.0,0.0
1,122.0,6.0,1.0,0.0,0.0
2,1283.0,112.0,0.0,0.0,7.0
3,0.0,1.0,1.0,0.0,0.0
4,0.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...
17003,0.0,0.0,0.0,0.0,0.0
17004,0.0,0.0,0.0,0.0,0.0
17005,0.0,0.0,0.0,0.0,0.0
17006,0.0,0.0,0.0,0.0,0.0
17007,0.0,0.0,0.0,0.0,0.0

In [36]:
print("--- After fillna(0) ---")
print(GADS[['Sum Sp.AtRisk', 'Sum Sp.Cases', 'Sum Sp.Deaths', 'Sum Sp.Destroyed', 'Sum Sp.Slaughtered']].head())
print(GADS[['Sum Sp.AtRisk', 'Sum Sp.Cases', 'Sum Sp.Deaths', 'Sum Sp.Destroyed', 'Sum Sp.Slaughtered']].isnull().sum())

--- After fillna(0) ---
   Sum Sp.AtRisk  Sum Sp.Cases  Sum Sp.Deaths  Sum Sp.Destroyed  \
0       248000.0          12.0           12.0           50000.0
1          122.0           6.0            1.0               0.0
2         1283.0         112.0            0.0               NaN
3            NaN           1.0            1.0               0.0
4            NaN           1.0            1.0               NaN

   Sum Sp.Slaughtered
0                 0.0
1                 0.0
2                 7.0
3                 0.0
4                 NaN
Sum Sp.AtRisk         7251
Sum Sp.Cases          2473
Sum Sp.Deaths         2840
Sum Sp.Destroyed      4003
Sum Sp.Slaughtered    4773
dtype: int64

In [37]:
for col in ['Sum Sp.AtRisk', 'Sum Sp.Cases', 'Sum Sp.Deaths', 'Sum Sp.Destroyed', 'Sum Sp.Slaughtered']:
    GADS[col] = GADS[col].fillna(0).astype(float)

In [38]:
print(GADS[['Sum Sp.AtRisk', 'Sum Sp.Cases', 'Sum Sp.Deaths', 'Sum Sp.Destroyed', 'Sum Sp.Slaughtered']].isnull().sum())

Sum Sp.AtRisk         0
Sum Sp.Cases          0
Sum Sp.Deaths         0
Sum Sp.Destroyed      0
Sum Sp.Slaughtered    0
dtype: int64

In [39]:
GADS.shape

(17008, 23)

In [40]:
GADS.head(30)

,ID,Latitude,Longitude,Region,Country,City/Providence,Locality,LocalityQuality,Observe Date,Report Date,Status,Disease,Serotypes,Sp. Description,Sum Sp.AtRisk,Sum Sp.Cases,Sum Sp.Deaths,Sum Sp.Destroyed,Sum Sp.Slaughtered,Humans Gender,Humans Age,Humans Affected,Humans Deaths
0,230399,-27.900000,30.800000,Africa,South Africa,KwaZulu-Natal,HPAI_H5N8_2017_019,Exact,17/08/2017,22/08/2017,Confirmed,Influenza - Avian,H5N8 HPAI,"domestic, unspecified bird",248000.0,12.0,12.0,50000.0,0.0,nan,0.0,NaN,NaN
1,230381,54.837037,73.354155,Europe,Russian Federation,Omskaya Oblast,Novaya Stanica,Exact,16/08/2017,18/08/2017,Confirmed,African swine fever,nan,"domestic, swine",122.0,6.0,1.0,0.0,0.0,nan,NaN,NaN,NaN
2,230333,-21.077740,30.211620,Africa,Zimbabwe,Masvingo,Mwambe,Exact,16/08/2017,16/08/2017,Confirmed,Foot and mouth disease,nan,"domestic, cattle",1283.0,112.0,0.0,0.0,7.0,nan,NaN,NaN,NaN
3,230396,-26.000000,28.300000,Africa,South Africa,Gauteng,HPAI_H5N8_2017_020,Exact,15/08/2017,22/08/2017,Confirmed,Influenza - Avian,H5N8 HPAI,"wild, unspecified bird",0.0,1.0,1.0,0.0,0.0,nan,0.0,NaN,NaN
4,230371,49.237900,17.700200,Europe,Czech Republic,Jihomoravsky,Hvozdná,Exact,15/08/2017,17/08/2017,Confirmed,African swine fever,nan,"wild, wild boar",0.0,1.0,1.0,0.0,0.0,nan,NaN,NaN,NaN
5,230370,49.237300,17.700800,Europe,Czech Republic,Jihomoravsky,Ostrata,Exact,15/08/2017,17/08/2017,Confirmed,African swine fever,nan,"wild, wild boar",0.0,1.0,1.0,0.0,0.0,nan,NaN,NaN,NaN
6,230395,-26.000000,28.300000,Africa,South Africa,Gauteng,HPAI_H5N8_2017_021,Exact,14/08/2017,22/08/2017,Confirmed,Influenza - Avian,H5N8 HPAI,"domestic, goose",34.0,19.0,19.0,0.0,0.0,nan,0.0,NaN,NaN
7,230367,47.771608,33.993286,Europe,Ukraine,Dnipropetrovs'ka,Slovyanka,Exact,14/08/2017,17/08/2017,Confirmed,African swine fever,nan,"domestic, swine",2.0,2.0,2.0,0.0,0.0,nan,NaN,NaN,NaN
8,230379,56.538381,16.119304,Europe,Sweden,Kalmar Laen,Kalmar,Exact,13/08/2017,18/08/2017,Confirmed,Newcastle disease,APMV-I,"domestic, chicken",4000.0,1600.0,0.0,4000.0,0.0,nan,NaN,NaN,NaN
9,230394,-24.600000,27.200000,Africa,South Africa,Limpopo,HPAI_H5N8_2017_022,Exact,12/8/2017,22/08/2017,Confirmed,Influenza - Avian,H5N8 HPAI,"domestic, unspecified bird",62.0,5.0,5.0,0.0,0.0,nan,NaN,NaN,NaN
10,230380,55.456034,72.762834,Europe,Russian Federation,Omskaya Oblast,Tavrichanka,Exact,12/8/2017,18/08/2017,Confirmed,African swine fever,nan,"domestic, swine",8.0,1.0,1.0,7.0,0.0,nan,NaN,NaN,NaN
11,230378,52.084460,23.080818,Europe,Poland,Lubeiskie,Terebela,Exact,12/8/2017,17/08/2017,Confirmed,African swine fever,nan,"domestic, swine",25.0,4.0,1.0,24.0,0.0,nan,NaN,NaN,NaN
12,230377,53.644444,22.605556,Europe,Poland,Podlaskie,Pienczykowek,Exact,12/8/2017,17/08/2017,Confirmed,African swine fever,nan,"domestic, swine",19.0,5.0,5.0,14.0,0.0,nan,NaN,NaN,NaN
13,230397,-26.800000,29.800000,Africa,South Africa,Mpumalanga,HPAI_H5N8_2017_018,Exact,11/8/2017,22/08/2017,Confirmed,Influenza - Avian,H5N8 HPAI,"domestic, unspecified bird",266.0,81.0,81.0,135.0,0.0,nan,NaN,NaN,NaN
14,230369,49.237300,17.699900,Europe,Czech Republic,Jihomoravsky,Hvozdná,Exact,11/8/2017,17/08/2017,Confirmed,African swine fever,nan,"wild, wild boar",0.0,1.0,1.0,0.0,0.0,nan,NaN,NaN,NaN
15,230368,32.143211,34.842794,Asia,Israel,Tel Aviv,Hakfar Hayarok,Exact,10/8/2017,17/08/2017,Confirmed,Influenza - Equine,H3N8,"domestic, equidae",50.0,4.0,0.0,0.0,0.0,nan,NaN,NaN,NaN
16,230334,46.780000,6.640000,Europe,Switzerland,Vaud,Lac de Neuch tel,Exact,10/8/2017,17/08/2017,Confirmed,Influenza - Avian,H5N8 HPAI,"wild,mute swan (cygnus olor))",0.0,2.0,2.0,0.0,0.0,nan,NaN,NaN,NaN
17,230332,-21.255660,31.524800,Africa,Zimbabwe,Masvingo,Chipfugwana,Exact,10/8/2017,16/08/2017,Confirmed,Foot and mouth disease,nan,"domestic, cattle",1047.0,127.0,0.0,0.0,0.0,nan,NaN,NaN,NaN
18,230305,49.849592,26.435108,Europe,Ukraine,Khmel'nyts'ka,Korovye,Exact,10/8/2017,14/08/2017,Confirmed,African swine fever,nan,"domestic, swine",6614.0,64.0,64.0,1005.0,0.0,nan,NaN,NaN,NaN
19,230376,51.928458,22.712944,Europe,Poland,Lubeiskie,Grabowiec,Exact,9/8/2017,17/08/2017,Confirmed,African swine fever,nan,"domestic, swine",36.0,5.0,2.0,34.0,0.0,nan,NaN,NaN,NaN
20,230375,51.655215,23.268335,Europe,Poland,Lubeiskie,Mosty,Exact,9/8/2017,17/08/2017,Confirmed,African swine fever,nan,"domestic, swine",1.0,1.0,0.0,1.0,0.0,nan,NaN,NaN,NaN
21,230374,51.821846,23.552780,Europe,Poland,Lubeiskie,Krzywowolka,Exact,9/8/2017,17/08/2017,Confirmed,African swine fever,nan,"domestic, swine",28.0,4.0,2.0,26.0,0.0,nan,NaN,NaN,NaN
22,230308,56.717530,24.329330,Europe,Latvia,Rigas,Baldones caounty,Exact,9/8/2017,15/08/2017,Confirmed,African swine fever,nan,"wild, wild boar",0.0,1.0,1.0,0.0,0.0,nan,NaN,NaN,NaN
23,230306,48.361742,22.666549,Europe,Ukraine,Zakarpats'ka,Nyzhniy Koropets,Exact,9/8/2017,14/08/2017,Confirmed,African swine fever,nan,"domestic, swine",11.0,11.0,11.0,0.0,0.0,nan,NaN,NaN,NaN
24,230289,-34.200000,20.700000,Africa,South Africa,Western Cape,HPAI_H5N8_2017_015,Exact,9/8/2017,11/8/2017,Confirmed,Influenza - Avian,H5N8 HPAI,"domestic, turkey",1071.0,22.0,0.0,0.0,0.0,nan,NaN,NaN,NaN
25,230288,-34.300000,20.800000,Africa,South Africa,Western Cape,HPAI_H5N8_2017_014,Exact,9/8/2017,11/8/2017,Confirmed,Influenza - Avian,H5N8 HPAI,"domestic, turkey",1176.0,33.0,0.0,0.0,0.0,nan,NaN,NaN,NaN
26,230383,53.703150,50.775044,Europe,Russian Federation,Samarskaya Oblast,Chernovka,Exact,8/8/2017,18/08/2017,Confirmed,Lumpy skin disease,nan,"domestic, cattle",132.0,11.0,0.0,0.0,0.0,nan,NaN,NaN,NaN
27,230382,52.992708,49.562929,Europe,Russian Federation,Samarskaya Oblast,Kupino,Exact,8/8/2017,18/08/2017,Confirmed,Lumpy skin disease,nan,"domestic, cattle",1505.0,1.0,0.0,0.0,0.0,nan,NaN,NaN,NaN
28,230373,51.961748,23.101870,Europe,Poland,Lubeiskie,Michalowka,Exact,8/8/2017,17/08/2017,Confirmed,African swine fever,nan,"domestic, swine",21.0,12.0,4.0,17.0,0.0,nan,NaN,NaN,NaN
29,230307,56.405372,25.750728,Europe,Latvia,Jekabpils,Salas county,Exact,8/8/2017,15/08/2017,Confirmed,African swine fever,nan,"wild, wild boar",0.0,1.0,0.0,1.0,0.0,nan,NaN,NaN,NaN

#### Duplicates

In [42]:
# Finding duplicates

GADS_dups = GADS[GADS.duplicated()]

In [43]:
GADS_dups

Empty DataFrame
Columns: [ID, Latitude, Longitude, Region, Country, City/Providence, Locality, LocalityQuality, Observe Date, Report Date, Status, Disease, Serotypes, Sp. Description, Sum Sp.AtRisk, Sum Sp.Cases, Sum Sp.Deaths, Sum Sp.Destroyed, Sum Sp.Slaughtered, Humans Gender, Humans Age, Humans Affected, Humans Deaths]
Index: []

In [44]:
# No duplicate rows found

#### Exporting (csv)

In [46]:
GADS.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'GADS_6.1.csv'))